<% include ../include/header.ejs %>
<% include ../include/sidebar.ejs %> 



  <!-- BEGIN TAB-DATA TABLE -->


      <div class="content-wrapper">
       <% if(typeof groupName !== 'undefined' && groupName) {%>
        <h1>
            <%=groupName%>
        </h1>
       <% } else { %>
       <h1>Your Tabs</h1>
       <% } %>
       
       <div class="row" >
         <div class='wrapper text-center'>
          <div class="btn-group">
           
           <a id="add_row" class="btn btn-blue center-block" >Add Row</a>
           
            <a id="save_rows" class="btn btn-blue center-block">Save</a>    
           <a id='open_selected_rows' class="btn btn-green center-block" >Open Selected Rows</a>  
           <a id='open_rows' class="btn btn-green center-block">Open All Rows</a>  
           <a id='delete_row' class="btn btn-red center-block" >Delete Row(s)</a> 
           
          </div>
         </div>
       </div>
       <p>&nbsp;</p>

        <div class="row clearfix">
          <div class="col-md-12 column">
            <table class="table tablecolor table-bordered table-hover" id="tab_logic">
              <thead>
                <tr>
             <!--     <th class="text-center">
                    #
                  </th> -->
                   <th class="text-center">
                    <input type="checkbox" class="selectall" class="form-control" />
                  </th>
                  <th class="text-center">
                    Title
                  </th>
           
                   <th class="text-center">
                    URL
                  </th>
                  
                  
                
                </tr>
              </thead>
              <tbody>
                <% if (tabs.length>0) { %>
                <%   var i = 0 %>
                <%   tabs.forEach(function(tab) {%>
                  <tr id='<%='addr'+i %>' name="<%= tab.id %>">
                <!--    <td>
                      <%= i+1 %> -->
                    </td>
                    <td align="center">
                      <input type="checkbox" name="select" id="id" value="checkbox" style="text-align: center; vertical-align: middle;"  >
                    </td>
                    <td>
                      <input type="text" name='title' placeholder='Title' class="form-control" style="text-align:center; background-color:#ECEFF1" value="<%= tab.title %>"/>
                    </td>
                    
                     <td align="center">
                      <input class="button" style="height:25px;width:200px; text-align:center;" type="submit" name="button" value="<%= tab.url %>"//> 
                     </td>
                    
                 

                  </tr>
                <%     i++ %>
                <%   }) %>
                  <tr id='<%='addr'+i %>' name="new"></tr>
                <% } else { %>
                <tr id='addr0' name="new">
                  <td>
                    1
                  </td>
                  <td>
                    <input type="text" name='title' placeholder='Title' class="form-control" />
                  </td>
                  <td>
                    <input type="text" name='url' placeholder='URL' class="form-control"/>
                  </td>
                   <td>
                      <input class="button" type="submit" name="button" value="enter"/> 
                     </td>
                   <td>
                      <input type="checkbox" name="select" id="id" value="checkbox" style="text-align: center; vertical-align: middle;" >
                   </td>
                </tr>


                <tr id='addr1' name="new"></tr>

                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        

      </div>
  <!-- END TAB-DATA TABLE -->
    </main>
  </body>


<% include ../include/end.ejs %> 