<% include ../include/header.ejs %>
<% include ../include/sidebar.ejs %> 



  <!-- BEGIN TAB-DATA TABLE -->


      <div class="content-wrapper">
       <% if(typeof groupName !== 'undefined' && groupName) {%>
        <h1>
            <%=groupName%>
        </h1>
       <% } else { %>
       <h1>Your Tabs</h1>
       <% } %>
        <div class="row clearfix">
          <div class="col-md-12 column">
            <table class="table table-bordered table-hover" id="tab_logic">
              <thead>
                <tr>
                  <th class="text-center">
                    #
                  </th>
                  
                  <th class="text-center">
                    Title
                  </th>
                  <th class="text-center">
                    URL
                  </th>
                   <th class="text-center">
                    Open Tab
                  </th>
                   <th class="text-center">
                    <input type="checkbox" class="selectall" class="form-control" />
                  </th>
                
                </tr>
              </thead>
              <tbody>
                <% if (tabs.length>0) { %>
                <%   var i = 0 %>
                <%   tabs.forEach(function(tab) {%>
                  <tr id='<%='addr'+i %>' name="<%= tab.id %>">
                    <td>
                      <%= i+1 %>
                    </td>
                    <td>
                      <input type="text" name='title' placeholder='Title' class="form-control" value="<%= tab.title %>"/>
                    </td>
                    <td>
                      <input type="text" name='url' placeholder='URL' class="form-control" value="<%= tab.url %>"/>
                    </td>
                     <td>
                      <input class="button" type="submit" name="button" value="<%= tab.url %>"//> 
                     </td>
                    <td>
                      <input type="checkbox" name="select" id="id" value="checkbox" style="text-align: center; vertical-align: middle;"  >
                    </td>
                    <td>
                      <a href = "#" class = "up">Up</a>
                    </td>
                    <td>
                      <a href = "#" class = "down">Down</a>
                    </td>

                  </tr>
                <%     i++ %>
                <%   }) %>
                  <tr id='<%='addr'+i %>' name="new"></tr>
                <% } else { %>
                <tr id='addr0' name="new">
                  <td>
                    1
                  </td>
                  <td>
                    <input type="text" name='title' placeholder='Title' class="form-control" />
                  </td>
                  <td>
                    <input type="text" name='url' placeholder='URL' class="form-control"/>
                  </td>
                   <td>
                      <input class="button" type="submit" name="button" value="enter"/> 
                     </td>
                   <td>
                      <input type="checkbox" name="select" id="id" value="checkbox" style="text-align: center; vertical-align: middle;" >
                   </td>
                </tr>


                <tr id='addr1' name="new"></tr>

                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a id="add_row" class="btn btn-default center-block" style="margin-left: 15%; margin-right: 15%; margin-top: 3%; margin-bottom: 3%;">Add Row</a>
          </div>

          <div class="col-md-3">
            <a id="save_rows" class="btn btn-primary center-block" style="margin-left: 15%; margin-right: 15%; margin-top: 3%; margin-bottom: 3%;">Save</a>           
          </div>

          <div class="col-md-3">
           <a id='delete_row' class="btn btn-default center-block" style="margin-left: 15%; margin-right: 15%; margin-top: 3%; margin-bottom: 3%;">Delete Row(s)</a>  
          </div>
          <div class="col-md-3">
           <a id='open_rows' class="btn btn-default center-block" style="margin-left: 15%; margin-right: 15%; margin-top: 3%; margin-bottom: 3%;">Open All Rows</a>  
          </div>

        </div>

      </div>
  <!-- END TAB-DATA TABLE -->
    </main>
  </body>


<% include ../include/end.ejs %> 